*{
  margin: 0;
  padding: 0;
}
.navigation ul{
  display: flex;
  list-style: none;
}
.navigation ul li{
  margin: 20px;
  color: white;
  font-family: Roman;
}
.bg{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  background-image: url('../img/laptop.jpg');
  background-size: cover;
  filter: blur(5px) brightness(50%); 
}
.container{
  width: 80%;
  margin: auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.boxes{
  border: 5px solid white;
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;   
  justify-content: flex-end; 
  box-shadow: 0 0 10px silver;
  transition: 300ms all;
  background-size: cover;
  background-position: center;
  /*background-color: #334145; */ 
}
.box-content{
  background-color: white;
  padding: 10px 5px;
  text-align: center;
  width: 100%;
  transition: 300ms all;
}
.boxes:hover {
  transform: scale(1.1);
}
.boxes:hover .box-content{
  background-color: transparent;
  color: white;
}